
* {
    margin: 0;
    padding: 0;
}
a{ 
    text-decoration: none;}

    ul {list-style-type: none;}

    .container { 
        width: 80%;
        margin: auto;
        color: white;
        background-color: black;
    }
     :root { --maincolor: # 545BE8;
    }
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}